<!DOCTYPE html>

<html ng-app="myLinkedInApplication">
	<head>
		<meta charset="utf-8">
		<title>1312687 | LinkedIn</title>
		
		<link rel="stylesheet" type="text/css" href="css/app.css"/>
		<link rel="stylesheet" href="css/normalize.css" />
		<link rel="stylesheet" href="css/materialize.min.css">
		<link rel="stylesheet" href="css/materialize-extension.min.css">
		
		<script src="js/angular.min.js"></script>		
		<script src="js/app.js"></script>
		<script src="js/jquery-2.2.3.min.js"></script>
		<script src="js/materialize.min.js"></script>
		
		
		
		<link href="angular-xeditable/css/xeditable.css" rel="stylesheet">
		<script src="angular-xeditable/js/xeditable.js"></script>
	</head>
	
	<body ng-controller="myLinkedInController">
		
	<div>
        <img id="cover-picture" ng-src="{{coverPicture}}" alt="cover-picture"/>
        
		<!--Nội dung trang-->
		<div id="page-content" ng-controller="Ctrl">
		
            <!--Phân 1-phần thông tin cá nhân-->
            <div id="profile-page">
                <div class="row">
					<!--Chia làm 2 cột---gồm ảnh đại diện và thông tin cá nhân-->
					<!--Ảnh đại diện-->
                    <img class="profile-picture col" ng-src="{{profilePicture}}" alt="profile-picture" />
                    
					<!--Thông tin cá nhân-->
					<div class="profile-overview col">                  
                        <div class="row">

                            <!--Họ tên - Headline - Quốc gia-->
                            <div style="display: inline-block; float: left;">
								<!--name-->
								<div>
									<span class="user-name" editable-text="name" e-form="textBtnFormName">
										{{ name || 'empty' }}				
									</span>
									
									<a ng-click="textBtnFormName.$show()" ng-hide="textBtnFormName.$visible">
										Edit
									</a>
								</div>
								<!--headline-->
							   	<div>
									<span class="user-headline" editable-text="headline" e-form="textBtnFormHeadline">
										{{ headline || 'empty' }}				
									</span>
									
									<a ng-click="textBtnFormHeadline.$show()" ng-hide="textBtnFormHeadline.$visible">
										Edit
									</a>
								</div>                             
								
                                <p class="user-nation">
                                    <a href="https://www.google.com/#q=hochiminh+city">{{nation.city}}</a> |
                                    <a href="https://www.google.com/#q=vietnam">{{nation.state}}</a>
                                </p>
								
								
							<!--Thông tin liên lạc-->
							<table class="overview-summary">
                                    <tr>
                                        <th scope="row"><a href="">Email</a></th>
                                        <th>
                                            <div>
												<span editable-text="contact.email" e-form="textBtnFormEmail">
													{{ contact.email || 'empty' }}				
												</span>
												
												<a ng-click="textBtnFormEmail.$show()" ng-hide="textBtnFormEmail.$visible">
													Edit
												</a>
											</div>    
                                        </th>
                                    </tr>
                                    
									<tr>
                                        <th scope="row"><a href="">Phone</a></th>      						
										<th>
											<div>
												<span editable-text="contact.phone" e-form="textBtnFormPhone">
													{{ contact.phone || 'empty' }}				
												</span>
													
												<a ng-click="textBtnFormPhone.$show()" ng-hide="textBtnFormPhone.$visible">
													Edit
												</a>
											</div> 
										</th>
                                    </tr>
                                </table>
                            </div>							                  
                        </div>    
                    </div>
                </div>
				
                <div class="row profile-extra">
                    <div class="col link valign-wrapper">
                        <i id="linkedIn-link-bullet" class="valign"></i>
                        <a class="link-ref valign" href="{{profileUrl}}">
                            <span>{{profileUrl}}</span>
                        </a>
                    </div>
                    <div class="col right more-info valign-wrapper link">
                        <i id="contact-link-bullet" class="valign"></i>
                        <a class="link-ref valign" href="">
                            <span>Contact Info</span>
                        </a>
                    </div>
                </div>
            </div>
			
			
            <!--Phần 2-->
			<!--BACKGROUND-->
            <div class="row">      
                <div class="background-page">
					<!--Chữ background với nền đen-->
                    <h2 class="title-background-page">Background</h2>
									
					<!--thụt vô-->
                    <div id="background-padding">
                       
							<!--Phần 2.1-Summary--------------------------------------------------------------------------->
							<!--mỗi background-section là 1 mục được phân cách bằng gạch ngang-->
                            <div class="background-section">
							
                                <div class="valign-wrapper background-section-header">
									<!--gồm icon và tiêu đề mục-->
                                    <img src=".\images\icons\summary-icon.png" class="valign" />
                                    <h3 class="valign">Summary</h3>
                                </div>
								<!--phần mô tả-->
								<div >
									<span class="description" editable-text="summary" e-form="textBtnFormSummary">
										{{ summary || 'empty' }}				
									</span>
												
									<a ng-click="textBtnFormSummary.$show()" ng-hide="textBtnFormSummary.$visible">
										Edit
									</a>
								</div>    
                            
                            </div>
							
                            <!--Phần 2.1-Experience------------------------------------------------------------------------->
                            <div class="background-section">
                                <div class="valign-wrapper background-section-header">
									<!--gồm icon và tiêu đề mục-->
                                    <img src=".\images\icons\experience-icon.png" class="valign" />
                                    <h3 class="valign">Experience</h3>
                                </div>
                                <div ng-repeat="exp in experience">
                                    <div class="row info-bar">
                                        <div style="display: inline-block">
                                            <a href="https://www.linkedin.com/title/{{exp.title}}?trk=mprofile_title"
                                                title="Learn more about this title" class="info-title">{{exp.title}}</a>
                                            <a href="{{exp.companyUrl}}" class="info-subtitle">{{exp.companyName}}</a>
                                            <span class="info-date">
                                                <span ng-show="exp.duration != ''">({{exp.duration}})</span>                                         
                                            </span>
                                        </div>
                                        <div class="info-logo" ng-show="exp.companyLogo != ''">
                                            <a href="{{exp.companyUrl}}">
                                               <img src="{{exp.companyLogo}}" /> 
                                            </a>                                    
                                        </div>
                                    </div>
                                    <p class="description">{{exp.description}}</p>
									
									<div class="row info-bar">
										<div style="display: inline-block">
										
											<span editable-text="exp.description" e-form="textBtnFormExperience">
												{{ exp.description || 'empty' }}				
											</span>											
											
											<span editable-text="exp.description" e-form="textBtnFormExperience">
												{{ exp.description || 'empty' }}				
											</span>		
											
											<a ng-click="textBtnFormExperience.$show()" ng-hide="textBtnFormExperience.$visible">
												Edit
											</a>
										</div>
									</div> 
                                </div>
                            </div>
                          
							<!--Phần 2.3-Project--------------------------------------------------------------------------->
							<div class="background-section">
                                <div class="valign-wrapper background-section-header">
                                    <img src=".\images\icons\project-icon.png" class="valign" />
                                    <h3 class="valign">Projects</h3>
                                </div>
                                <div ng-repeat="project in projects">
									<h6><b>{{project.name}}</b></h6>
                                    <p style="margin-left:20px" class="description">{{project.description}}</p>
                                </div>
                            </div>
							
                            <!--Phần 2.4-Skill--------------------------------------------------------------------------->
                            <div class="background-section">
                                <div class="valign-wrapper background-section-header">
								
									<!--gồm icon và tiêu đề mục-->
                                    <img src=".\images\icons\skill-icon.png" class="valign" />
                                    <h3 class="valign">Skills</h3>
                                </div>
                                <div id="skills-section">
                                    <div>
                                        <h5>Top Skills</h5>
                                        <div class="skill-pill" ng-repeat="skill in skills | limitTo: 10">
                                            <a class="btn-skill-count waves-effect waves-light btn">{{skill.endorsers}}</a>
                                            <a class="btn-skill-description" href="https://www.linkedin.com/topic/{{skill.name}}?trk=mprofile_topic">
                                                {{skill.name}}
                                            </a>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
							
                            <!--Phần 2.5-Education--------------------------------------------------------------------------->
                            <div class="background-section background-last-section">
                                <div class="valign-wrapper background-section-header">
                                   
									<!--gồm icon và tiêu đề mục-->
  								    <img src=".\images\icons\education-icon.png" class="valign" />
                                    <h3 class="valign">Education</h3>
                                </div>
                                <div>
                                    <div class="row info-bar" ng-repeat="edu in education">
                                        <div style="display: inline-block">
                                            <a href="{{edu.url}}" class="info-title">{{edu.name}}</a>
                                            <a class="info-subtitle">{{edu.title}}</a>
                                            <span class="info-date">{{edu.startPeriod}} – {{edu.endPeriod}}</span>
                                        </div>
                                        <div class="info-logo">
                                            <a href="{{edu.url}}">
                                               <img src="{{edu.logo}}" height="60" /> 
                                            </a>              
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
            </div>
        </div>
    </div>
	</body>
</html>

