<!DOCTYPE html>

<html ng-app="myLinkedInApplication">
	<head>
		<meta charset="utf-8">
		<title>1312687 | LinkedIn</title>
		
		<link rel="stylesheet" type="text/css" href="css/app.css"/>
		<link rel="stylesheet" href="css/normalize.css" />
		<link rel="stylesheet" href="css/materialize.min.css">
		<link rel="stylesheet" href="css/materialize-extension.min.css">
		
		<script src="js/angular.min.js"></script>		
		<script src="js/app.js"></script>
		<script src="js/jquery-2.2.3.min.js"></script>
		<script src="js/materialize.min.js"></script>
	</head>
	
	<body ng-controller="myLinkedInController">
		
	<div id="profile-page">
        <img id="cover-image" ng-src="{{coverPicture}}" alt="cover-picture" />
        <div id="profile-content">
		
            <!--PROFILE TOP CARD-->
            <div id="profile-topcard">
                <div class="row profile-main">
                    <img class="profile-image col" ng-src="{{profilePicture}}" alt="profile-picture" />
                    <div class="profile-overview col">
                        <!--OVERVIEW TOP SECTION-->
                        <div class="overview-info row">
                            <!--OVERVIEW TOP SECTION > LEFT PART-->
                            <div style="display: inline-block; float: left;">
                                <h1 class="overview-name">{{name[0] + ' ' + name[1]}}</h1>
                                <p class="overview-headline">{{headline}}</p>
                                <p class="overview-demographics">
                                    <a href="https://www.google.com/#q=hochiminh+city">{{nation.city}}</a> |
                                    <a href="https://www.google.com/#q=vietnam">{{nation.state}}</a>
                                </p>
                                <table class="overview-summary">
                                    <tr>
                                        <th scope="row"><a href="">Current</a></th>
                                        <td>
                                            <a ng-repeat="exp in experience | filter: {endPeriod: 'Present'} | limitTo: 3">
                                                {{exp.companyName}}<span ng-show="!$last">, </span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="">Previous</a></th>
                                        <td>
                                            <a ng-repeat="exp in experience | filter: {endPeriod: '!Present'} | limitTo: 3">
                                                {{exp.companyName}}<span ng-show="!$last">, </span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="">Education</a></th>
                                        <td>
                                            <a ng-repeat="edu in education | limitTo: 1">{{edu.name}}</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--OVERVIEW TOP SECTION > RIGHT PART-->
                            <div style="display: inline-block; float: right;">
                                <img src="./images/commons/influencer.png" ng-show="isInfluencer" />
                            </div>
                        </div>
                        <!--OVERVIEW BOTTOM SECTION-->
                        <div id="profile-action" class="row">
                            <!--OVERVIEW BOTTOM SECTION > LEFT PART-->
                            <div style="display: inline-block; float: left;">
                                <div style="display: inline-block">
                                    <a id="follow-btn" class="waves-effect waves-light btn">Follow</a>
                                    <a id="arrow-btn" class="waves-effect waves-light btn"><i class="arrow-down"></i></a>
                                </div>
                                <div id="supplemental-action">
                                    <p>Know <span>{{name[0]}}</span>?
                                        <a>Connect</a>
                                    </p>
                                </div>
                            </div>
                            <!--OVERVIEW BOTTOM SECTION > RIGHT PART-->
                            <div class="member-connections" style="display: inline-block; float: right;">
                                <strong>{{followers | number}}</strong> followers
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row profile-extra">
                    <div class="col link valign-wrapper">
                        <i id="linkA-bullet" class="valign"></i>
                        <a class="link-ref valign" href="{{profileUrl}}">
                            <span>{{profileUrl}}</span>
                        </a>
                    </div>
                    <div class="col right more-info valign-wrapper link">
                        <i id="linkB-bullet" class="valign"></i>
                        <a class="link-ref valign" href="">
                            <span>Contact Info</span>
                        </a>
                    </div>
                </div>
            </div>
            <!--PROFILE CONTENT-->
            <div class="row">
                <!--PROFILE LEFT COLUMN-->
                <div id="profile" class="col">
              
                    <!--BACKGROUND CARD-->
                    <div class="card-body">
                        <h2 class="card-title">Background</h2>
                        <div id="background-content" class="card-content">
                            <!--SUMMARY SECTION-->
                            <div class="background-section">
                                <div class="valign-wrapper background-section-header">
                                    <img src=".\images\commons\header-summary.png" class="valign" />
                                    <h3 class="valign">Summary</h3>
                                </div>
                                <p class="description">{{summary}}</p>
                            </div>
                            <!--EXPERIENCE SECTION-->
                            <div class="background-section">
                                <div class="valign-wrapper background-section-header">
                                    <img src=".\images\commons\header-experience.png" class="valign" />
                                    <h3 class="valign">Experience</h3>
                                </div>
                                <div ng-repeat="exp in experience">
                                    <div class="row info-bar">
                                        <div style="display: inline-block">
                                            <a href="https://www.linkedin.com/title/{{exp.title}}?trk=mprofile_title"
                                                title="Learn more about this title" class="info-title">{{exp.title}}</a>
                                            <a href="{{exp.companyUrl}}" class="info-subtitle">{{exp.companyName}}</a>
                                            <span class="info-date">{{exp.startPeriod}} – {{exp.endPeriod}}
                                                <span ng-show="exp.duration != ''">({{exp.duration}})</span>
                                            <span ng-show="exp.location != ''"> | {{exp.location}}</span>
                                            </span>
                                        </div>
                                        <div class="info-logo" ng-show="exp.companyLogo != ''">
                                            <a href="{{exp.companyUrl}}">
                                               <img src="{{exp.companyLogo}}" /> 
                                            </a>                                    
                                        </div>
                                    </div>
                                    <p class="description">{{exp.description}}</p>
                                </div>
                            </div>
                            <!--VOLUNTEER EXPERIENCE SECTION-->
                            <div class="background-section">
                                <div class="valign-wrapper background-section-header">
                                    <img src=".\images\commons\header-volunteerExperience.png" class="valign" />
                                    <h3 class="valign">Volunteer Experience & Causes</h3>
                                </div>
                                <div id="background-volunteerexp">
                                    <h4>Causes {{name[0]}} cares about</h4>
                                    <ul class="browser-default">
                                        <li ng-repeat="c in caredCauses">{{c}}</li>
                                    </ul>
                                    <h4>Organizations {{name[0]}} supports</h4>
                                    <ul class="browser-default" style="margin-bottom: 0px !important;">
                                        <li ng-repeat="org in supportedOrganizations">
                                            <a href="https://www.linkedin.com/vsearch/p?company={{org}}&trk=prof-vol_interests-orgs-link">
                                                {{org}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--SKILLS SECTION-->
                            <div class="background-section">
                                <div class="valign-wrapper background-section-header">
                                    <img src=".\images\commons\header-skill.png" class="valign" />
                                    <h3 class="valign">Skills</h3>
                                </div>
                                <div id="skills-section">
                                    <div>
                                        <h5>Top Skills</h5>
                                        <div class="skill-pill" ng-repeat="skill in skills | limitTo: 10">
                                            <a class="btn-skill-count waves-effect waves-light btn">{{skill.endorsers}}</a>
                                            <a class="btn-skill-description" href="https://www.linkedin.com/topic/{{skill.name}}?trk=mprofile_topic">
                                                {{skill.name}}
                                            </a>
                                        </div>
                                    </div>
                                    <div id="extra-skills" ng-show="skills.length > 10">
                                        <h5>{{name[0]}} also knows about...</h5>
                                        <div class="skill-pill" ng-repeat="skill in skills" ng-show="$index >= 10">
                                            <a class="btn-skill-count waves-effect waves-light btn">{{skill.endorsers}}</a>
                                            <a class="btn-skill-description" href="https://www.linkedin.com/topic/{{skill.name}}?trk=mprofile_topic">
                                                {{skill.name}}
                                            </a>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <!--EDUCATION SECTION-->
                            <div class="background-section background-last-section">
                                <div class="valign-wrapper background-section-header">
                                    <img src=".\images\commons\header-education.png" class="valign" />
                                    <h3 class="valign">Education</h3>
                                </div>
                                <div>
                                    <div class="row info-bar" ng-repeat="edu in education">
                                        <div style="display: inline-block">
                                            <a href="{{edu.url}}" class="info-title">{{edu.name}}</a>
                                            <a class="info-subtitle">Bachelor of Science, Economics</a>
                                            <span class="info-date">{{edu.startPeriod}} – {{edu.endPeriod}}</span>
                                        </div>
                                        <div class="info-logo">
                                            <a href="{{edu.url}}">
                                               <img src="{{edu.logo}}" height="60" /> 
                                            </a>              
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--PROFILE RIGHT COLUMN-->
                <div id="dummy-column" class="col card-body">
                </div>
            </div>
        </div>
    </div>


	</body>
</html>

