<!DOCTYPE html>

<html ng-app="myLinkedInApplication">
	<head>
		<meta charset="utf-8">
		<title>1312687 | LinkedIn</title>
		
		<link rel="stylesheet" type="text/css" href="css/app.css"/>
		<link rel="stylesheet" href="css/normalize.css" />
		<link rel="stylesheet" href="css/materialize.min.css">
		<link rel="stylesheet" href="css/materialize-extension.min.css">
		
		<script src="js/angular.min.js"></script>		
		<script src="js/app.js"></script>
		<script src="js/jquery-2.2.3.min.js"></script>
		<script src="js/materialize.min.js"></script>
	</head>
	
	<body ng-controller="myLinkedInController">
		
	<div id="profile-page">
        <img id="cover-picture" ng-src="{{coverPicture}}" alt="cover-picture" />
        <div id="profile-content">
		
            <!--Phân 1-->
            <div id="profile-topcard">
                <div class="row profile-main">
					<!--Ảnh đại diện-->
                    <img class="profile-picture col" ng-src="{{profilePicture}}" alt="profile-picture" />
                    <div class="profile-overview col">
                      
                        <div class="overview-info row">
                            <!--Họ tên - Headline - Quốc gia-->
                            <div style="display: inline-block; float: left;">
                                <h1 class="overview-name">{{name[0] + ' ' + name[1]}}</h1>
                                <p class="overview-headline">{{headline}}</p>
                                <p class="overview-demographics">
                                    <a href="https://www.google.com/#q=hochiminh+city">{{nation.city}}</a> |
                                    <a href="https://www.google.com/#q=vietnam">{{nation.state}}</a>
                                </p>
							<!--Thông tin liên lạc-->
							<table class="overview-summary">
                                    <tr>
                                        <th scope="row"><a href="">Email</a></th>
                                        <th>
                                            {{contact.email}}
                                        </th>
                                    </tr>
                                    
									<tr>
                                        <th scope="row"><a href="">Phone</a></th>
                                        <th>
											{{contact.phone}}
                                        </th>
                                    </tr>
                                </table>
                            </div>							                  
                        </div>    
                    </div>
                </div>
				
                <div class="row profile-extra">
                    <div class="col link valign-wrapper">
                        <i id="linkA-bullet" class="valign"></i>
                        <a class="link-ref valign" href="{{profileUrl}}">
                            <span>{{profileUrl}}</span>
                        </a>
                    </div>
                    <div class="col right more-info valign-wrapper link">
                        <i id="linkB-bullet" class="valign"></i>
                        <a class="link-ref valign" href="">
                            <span>Contact Info</span>
                        </a>
                    </div>
                </div>
            </div>
			
			
            <!--Phần 2-->
			<!--BACKGROUND-->
            <div class="row">
			      
                    <div class="card-body">
                        <h2 class="card-title">Background</h2>
                        <div id="background-content" class="card-content">
                            
							<!--Phần 2.1-Summary-->
                            <div class="background-section">
                                <div class="valign-wrapper background-section-header">
                                    <img src=".\images\commons\header-summary.png" class="valign" />
                                    <h3 class="valign">Summary</h3>
                                </div>
                                <p class="description">{{summary}}</p>
                            </div>
							
                            <!--Phần 2.1-Experience-->
                            <div class="background-section">
                                <div class="valign-wrapper background-section-header">
                                    <img src=".\images\commons\header-experience.png" class="valign" />
                                    <h3 class="valign">Experience</h3>
                                </div>
                                <div ng-repeat="exp in experience">
                                    <div class="row info-bar">
                                        <div style="display: inline-block">
                                            <a href="https://www.linkedin.com/title/{{exp.title}}?trk=mprofile_title"
                                                title="Learn more about this title" class="info-title">{{exp.title}}</a>
                                            <a href="{{exp.companyUrl}}" class="info-subtitle">{{exp.companyName}}</a>
                                            <span class="info-date">{{exp.startPeriod}} – {{exp.endPeriod}}
                                                <span ng-show="exp.duration != ''">({{exp.duration}})</span>
                                            <span ng-show="exp.location != ''"> | {{exp.location}}</span>
                                            </span>
                                        </div>
                                        <div class="info-logo" ng-show="exp.companyLogo != ''">
                                            <a href="{{exp.companyUrl}}">
                                               <img src="{{exp.companyLogo}}" /> 
                                            </a>                                    
                                        </div>
                                    </div>
                                    <p class="description">{{exp.description}}</p>
                                </div>
                            </div>
                          
							<!--Phần 2.3-Project-->
							<div class="background-section">
                                <div class="valign-wrapper background-section-header">
                                    <img src=".\images\commons\header-experience.png" class="valign" />
                                    <h3 class="valign">Projects</h3>
                                </div>
                                <div ng-repeat="exp in experience">
									<h4>{{projects.name}}</h4>
                                    <p class="description">{{projects.description}}</p>
                                </div>
                            </div>
							
                            <!--Phần 2.4-Skill-->
                            <div class="background-section">
                                <div class="valign-wrapper background-section-header">
                                    <img src=".\images\commons\header-skill.png" class="valign" />
                                    <h3 class="valign">Skills</h3>
                                </div>
                                <div id="skills-section">
                                    <div>
                                        <h5>Top Skills</h5>
                                        <div class="skill-pill" ng-repeat="skill in skills | limitTo: 10">
                                            <a class="btn-skill-count waves-effect waves-light btn">{{skill.endorsers}}</a>
                                            <a class="btn-skill-description" href="https://www.linkedin.com/topic/{{skill.name}}?trk=mprofile_topic">
                                                {{skill.name}}
                                            </a>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
							
                            <!--Phần 2.5-Education-->
                            <div class="background-section background-last-section">
                                <div class="valign-wrapper background-section-header">
                                    <img src=".\images\commons\header-education.png" class="valign" />
                                    <h3 class="valign">Education</h3>
                                </div>
                                <div>
                                    <div class="row info-bar" ng-repeat="edu in education">
                                        <div style="display: inline-block">
                                            <a href="{{edu.url}}" class="info-title">{{edu.name}}</a>
                                            <a class="info-subtitle">{{edu.title}}</a>
                                            <span class="info-date">{{edu.startPeriod}} – {{edu.endPeriod}}</span>
                                        </div>
                                        <div class="info-logo">
                                            <a href="{{edu.url}}">
                                               <img src="{{edu.logo}}" height="60" /> 
                                            </a>              
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
            </div>
        </div>
    </div>
	</body>
</html>

